<div class="card mt-2">
  <div class="card-header bg-primary text-white">
    <%= link_to "#{tweet.user_name}#{user_name_text}", user_path(tweet.user_id), class: 'text-white' %>
    <%= link_to tweet.url, target: '_blank' do %>
      <%= image_tag asset_path('twitter_icon.png') %>
    <% end %>
  </div>
  <div class="card-body">
    <%= tweet.content %>
  </div>
  <div class="card-footer">
    <table class="table table-borderless table-sm">
      <% stat = tweet.user.stat %>
      <% honmei_stat = tweet.user.stat.honmei_stat %>
      <tr class="text-center">
        <td>予想数</td>
        <td>単勝回収率</td>
        <td>複勝回収率</td>
        <td>単勝的中率</td>
        <td>複勝的中率</td>
      </tr>
      <tr class="text-center">
        <td><%= stat.forecast_count %>レース</td>
        <td><%= honmei_stat.win_return_rate.to_i %>%</td>
        <td><%= honmei_stat.place_return_rate.to_i %>%</td>
        <td><%= honmei_stat.win_hit_rate.to_i %>%</td>
        <td><%= honmei_stat.place_hit_rate.to_i %>%</td>
      </tr>
    </table>
  </div>
</div>