<div class="card mt-2">
  <div class="card-header bg-primary text-white">
    <%= link_to "#{tweet.user_name}#{user_name_text}", user_path(tweet.user_id), class: 'text-white' %>
    <%= link_to tweet.url, target: '_blank' do %>
      <%= image_tag asset_path('twitter_icon.png') %>
    <% end %>
  </div>
  <div class="card-body">
    <%= tweet.content %>
  </div>
  <div class="card-footer text-muted">
    <% user_stat = tweet.user.user_stat %>
    予想数:<%= user_stat.forecasts_count %>レース<br>
    単勝回収率:<%= user_stat.return_rate_win %>%<br>
    複勝回収率:<%= user_stat.return_rate_place %>%<br>
    単勝的中率:<%= user_stat.hit_rate_win %>%<br>
    複勝的中率:<%= user_stat.hit_rate_place %>%
  </div>
</div>