<div class="card mt-2">
  <div class="card-header bg-primary text-white">
    <%= link_to "#{tweet.user_name}#{user_name_text}", user_path(tweet.user_id), class: 'text-white' %>
    <%= link_to tweet.url, target: '_blank' do %>
      <%= image_tag asset_path('twitter_icon.png') %>
    <% end %>
  </div>
  <div class="card-body small-text">
    <%= tweet.content %>
  </div>
  <div class="card-footer small-text">
    <table class="table table-borderless table-sm">
      <% user_stat = tweet.user.user_stat %>
      <tr class="text-center">
        <td>予想数</td>
        <td>単回収率</td>
        <td>複回収率</td>
        <td>単的中率</td>
        <td>複的中率</td>
      </tr>
      <tr class="text-center">
        <td><%= user_stat.forecasts_count %>レース</td>
        <td><%= user_stat.return_rate_win.to_i %>%</td>
        <td><%= user_stat.return_rate_place.to_i %>%</td>
        <td><%= user_stat.hit_rate_win.to_i %>%</td>
        <td><%= user_stat.hit_rate_place.to_i %>%</td>
      </tr>
    </table>
  </div>
</div>