<h1>
  Twitter競馬予想
  <span class="small-text">by <%= link_to '@Evitch', 'https://twitter.com/unkEVI', target: '_blank' %></span>
</h1>

<p class="mb-5"><%= link_to 'ユーザ一覧', users_path %></p>

<% @races.pluck(:date).uniq.each do |date| %>
  <div class="border-bottom mb-3 pb-3">
    <div class="mb-1">・<%= date_format(date) %></div>

    <div class="row">
      <% day_races = @races.where(date: date) %>
      <% day_races.pluck(:hold).uniq.each do |hold| %>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-header bg-primary text-white"><%= hold %></div>

            <div class="card-body">
              <table>
                <% day_races.where(hold: hold).sort {|a, b| race_number(a.number) <=> race_number(b.number)}.each do |hold_race| %>
                  <tr>
                    <td class="w-20"><%= hold_race.time %></td>
                    <td class="w-20"><%= hold_race.number %></td>
                    <td class="w-60">
                      <% if hold_race.forecasts.empty? %>
                        <%= hold_race.name %>
                      <% else %>
                        <%= link_to "#{hold_race.name} (#{hold_race.forecasts.count})", race_path(hold_race) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div> <!-- card-header -->
          </div> <!-- card -->
        </div> <!-- col-sm-4 -->
      <% end %>
    </div> <!-- row -->
  </div> <!-- border-bottom -->
<% end %>
