<h1 class="mb-3 mt-3">
  <%= link_to @race.name, Settings.keibalab[:url] + @race.url, target: '_blank'%>
  <small><%= @race.hold %> <%= @race.number %></small>
</h1>

<div class="forecast-ai mb-3">
  <%= link_to 'AI予想を見る', bet_path(@race.id) %>　<%= link_to 'ツイート一覧を見る', race_tweets_path(@race.id) %>
</div>

<%= paginate @forecasts %>

<div class="form-inline mb-3">
  <%= form_tag(race_path(params[:id]), method: 'get') do %>
    <span class="border-success border rounded p-1 mr-2">
      <span class="text-success ml-1"> 回収率</span>
    </span>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-success <%= @return_rate == User::RETURN_RATE_ALL ? 'active' : '' %>">
        <%= radio_button_tag :return_rate, User::RETURN_RATE_ALL, @return_rate == User::RETURN_RATE_ALL, onChange: 'submit()' %>全て
      </label>
      <label class="btn btn-success <%= @return_rate == User::RETURN_RATE_PROFESSIONAL ? 'active' : '' %>">
        <%= radio_button_tag :return_rate, User::RETURN_RATE_PROFESSIONAL, @return_rate == User::RETURN_RATE_PROFESSIONAL, onChange: 'submit()' %>100%以上
      </label>
      <label class="btn btn-success <%= @return_rate == User::RETURN_RATE_MASTER ? 'active' : '' %>">
        <%= radio_button_tag :return_rate, User::RETURN_RATE_MASTER, @return_rate == User::RETURN_RATE_MASTER, onChange: 'submit()' %>200%以上
      </label>
    </div>
  <% end %>
</div>

<table class="table table-bordered table-striped table-sm">
  <thead>
  <tr>
    <th class="sticky blank-cell"></th>
    <% count = @horses.count %>
    <% @horses.each_with_index.reverse_each do |horse, i| %>
      <th class="horse sticky" style="<%= horse_color(count, i) %>">
        <span class="vertical">
          <span class="text-combine"><%= horse.umaban %></span>
          <%= horse.name %>
        </span>
      </th>
    <% end %>
  </tr>
  </thead>

  <tr>
    <th>期待率</th>
    <% @twitter_rates.reverse_each do |twitter_rate| %>
      <td class="text-center text-danger"><b><%= twitter_rate %></b></td>
    <% end %>
  </tr>

  <tr>
    <th>オッズ</th>
    <% @horses.reverse_each do |horse| %>
      <% odds = horse.odds.present? ? horse.odds.last.win : horse.win %>
      <td class="text-center"><u><%= odds %></u></td>
    <% end %>
  </tr>

  <tr>
    <th>◎ の個数</th>
    <% @horses.reverse_each do |horse| %>
      <td class="text-center"><b><%= @honmeis&.count(horse.name) || 0 %></b></td>
    <% end %>
  </tr>

  <tr>
    <th>○ の個数</th>
    <% @horses.reverse_each do |horse| %>
      <td class="text-center"><b><%= @taikous&.count(horse.name) || 0 %></b></td>
    <% end %>
  </tr>

  <tr>
    <th>▲ の個数</th>
    <% @horses.reverse_each do |horse| %>
      <td class="text-center"><b><%= @tananas&.count(horse.name) || 0 %></b></td>
    <% end %>
  </tr>

  <tr>
    <th>△ の個数</th>
    <% @horses.reverse_each do |horse| %>
      <td class="text-center"><b><%= @renkas&.count(horse.name) || 0 %></b></td>
    <% end %>
  </tr>

  <tr>
    <td></td>
  </tr>

  <tbody>

  <% @forecasts.each do |forecast| %>
    <tr>
      <th align="left">
        <%= link_to "#{forecast.user.name}", user_path(forecast.user.id) %>
        <%= link_to forecast.tweet.url, target: '_blank' do %>
          <%= image_tag asset_path('twitter_icon.png') %>
        <% end %>
      </th>
      <% @horses.reverse_each do |horse| %>
        <td align="center"><%= horse_mark(forecast, horse.name) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @forecasts %>