<h2><%= @race.name %></h2>

<p><%= link_to 'netkeiba.comへ', 'https://race.netkeiba.com' + @race.url, target: '_blank' %></p>

<br>

<table class="table table-bordered table-striped table-sm">
  <thead>
  <tr>
    <th></th>
    <% @race.horses.each_with_index.reverse_each do |horse, i| %>
      <% index = Settings[:index][@race.horses.count][i] %>
      <% background_color = Settings[:color][index] %>
      <% text_color = background_color == 'black' || background_color == 'red' || background_color == 'blue' ? 'white' : 'black' %>

      <th class="horse" style="background-color: <%= background_color %>; color: <%= text_color %>;">
        <span class="vertical">
          <span class="text-combine"><%= horse.umaban %></span>
          <%= horse.name %>
        </span>
      </th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <tr>
    <th>予想オッズ</th>
    <% @race.horses.reverse_each do |horse| %>
      <td align="center"><u><%= horse.odds %></u></td>
    <% end %>
  </tr>

  <tr>
    <th>◎ の個数</th>
    <% honmeis = @race.forecasts.pluck(:honmei) %>
    <% @race.horses.reverse_each do |horse| %>
      <td align="center"><%= honmeis.count(horse.name) %></td>
    <% end %>
  </tr>

  <tr>
    <th>○ の個数</th>
    <% taikous = @race.forecasts.pluck(:taikou) %>
    <% @race.horses.reverse_each do |horse| %>
      <td align="center"><%= taikous.count(horse.name) %></td>
    <% end %>
  </tr>

  <tr>
    <th>▲ の個数</th>
    <% tananas = @race.forecasts.pluck(:tanana) %>
    <% @race.horses.reverse_each do |horse| %>
      <td align="center"><%= tananas.count(horse.name) %></td>
    <% end %>
  </tr>

  <tr>
    <th>△ の個数</th>
    <% renkas = @race.forecasts.pluck(:renka) %>
    <% @race.horses.reverse_each do |horse| %>
      <td align="center"><%= renkas.count(horse.name) %></td>
    <% end %>
  </tr>

  <tr>
    <td></td>
  </tr>

  <% @forecasts.each do |forecast| %>
    <tr>
      <th align="left"><%= link_to forecast.tweet.user_name, forecast.tweet.user_uri, target: '_blank' %></th>
      <% @race.horses.reverse_each do |horse| %>
        <% mark = '' %>
        <% if forecast.honmei == horse.name %>
          <% mark = '◎' %>
        <% elsif forecast.taikou == horse.name %>
          <% mark = '◯' %>
        <% elsif forecast.tanana == horse.name %>
          <% mark = '▲' %>
        <% elsif forecast.renka == horse.name %>
          <% mark = '△' %>
        <% end %>
        <td align="center"><%= mark %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
