<h1 class="mb-3 mt-3">
  <%= link_to @race.name, Settings.keibalab[:url] + @race.url, target: '_blank'%>
  <small><%= @race.hold %> <%= @race.number %></small>
</h1>

<div class="w-25 mb-3 pt-3">
  <table class="table-success table-bordered table-sm">
    <thead>
    <tr class="bg-success">
      <th class="text-center text-white">推し馬名</th>
      <th class="text-center text-white">推しポイント</th>
    </tr>
    </thead>

    <tbody>
    <% @my_forecasts.each do |my_forecast| %>
      <tr>
        <td><b><%= my_forecast[:name] %></b></td>
        <td class="text-right"><%= my_forecast[:count] %>　</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @forecasts %>

<table class="table table-bordered table-striped table-sm">
  <thead>
  <tr>
    <th class="sticky blank-cell"></th>
    <% count = @horses.count %>
    <% @horses.order(:umaban).each_with_index.reverse_each do |horse, i| %>
      <th class="horse sticky" style="<%= horse_color(count, i) %>">
        <span class="vertical">
          <span class="text-combine"><%= horse.umaban %></span>
          <%= horse.name %>
        </span>
      </th>
    <% end %>
  </tr>
  </thead>

  <tr>
    <th>予想オッズ</th>
    <% @horses.reverse_each do |horse| %>
      <td class="text-center"><u><%= horse.odds %></u></td>
    <% end %>
  </tr>

  <tr>
    <th>◎ の個数</th>
    <% honmeis = @race.forecasts.pluck(:honmei) %>
    <% @horses.reverse_each do |horse| %>
      <td class="text-center"><b><%= honmeis.count(horse.name) %></b></td>
    <% end %>
  </tr>

  <tr>
    <th>○ の個数</th>
    <% taikous = @race.forecasts.pluck(:taikou) %>
    <% @horses.reverse_each do |horse| %>
      <td class="text-center"><b><%= taikous.count(horse.name) %></b></td>
    <% end %>
  </tr>

  <tr>
    <th>▲ の個数</th>
    <% tananas = @race.forecasts.pluck(:tanana) %>
    <% @horses.reverse_each do |horse| %>
      <td class="text-center"><b><%= tananas.count(horse.name) %></b></td>
    <% end %>
  </tr>

  <tr>
    <th>△ の個数</th>
    <% renkas = @race.forecasts.pluck(:renka) %>
    <% @horses.reverse_each do |horse| %>
      <td class="text-center"><b><%= renkas.count(horse.name) %></b></td>
    <% end %>
  </tr>

  <tr>
    <td></td>
  </tr>

  <tbody>

  <% @forecasts.each do |forecast| %>
    <tr>
      <th align="left">
        <%= link_to "#{forecast.user.name} (#{forecast.user.forecasts.size})", user_path(forecast.user.id) %>
        <%= link_to forecast.tweet.url, target: '_blank' do %>
          <%= image_tag asset_path('twitter_icon.png') %>
        <% end %>
      </th>
      <% @horses.reverse_each do |horse| %>
        <td align="center"><%= horse_mark(forecast, horse.name) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @forecasts %>