<h1 class="mb-3 mt-3">
  <%= link_to @race.name, Settings.keibalab[:url] + @race.url, target: '_blank' %>
  <small><%= @race.hold %> <%= @race.number %></small>
</h1>

<div class="mb-3">
  <%= form_tag(race_tweets_path(race_id: @race.id), method: 'get') do %>
    <div class="row">
      <% @race.horses.order(:umaban).each_slice(3) do |first, second, third| %>
        <% if first.present? %>
          <div class="col-sm-4">
            <%= check_box_tag 'horse_number[]', first.umaban, params[:horse_number]&.include?(first.umaban.to_s) %>
            <%= label_tag "#{first.umaban}#{first.name}(#{@honmeis.count{ |honmei| honmei == first.name }})" %>
          </div>
        <% end %>
        <% if second.present? %>
          <div class="col-sm-4">
            <%= check_box_tag 'horse_number[]', second.umaban, params[:horse_number]&.include?(second.umaban.to_s) %>
            <%= label_tag "#{second.umaban}#{second.name}(#{@honmeis.count{ |honmei| honmei == second.name }})" %>
          </div>
        <% end %>
        <% if third.present? %>
          <div class="col-sm-4">
            <%= check_box_tag 'horse_number[]' , third.umaban, params[:horse_number]&.include?(third.umaban.to_s) %>
            <%= label_tag "#{third.umaban}#{third.name}(#{@honmeis.count{ |honmei| honmei == second.name }})" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= submit_tag '検索', name: nil, class: 'btn btn-primary sm-2' %>
  <% end %>
</div>

<%= paginate @forecasts %>

<div class="row">
  <% @forecasts.includes(tweet: :user).each_slice(3) do |first, second, third| %>
    <div class="col-sm-4">
      <%= render partial: 'tweet', locals: { tweet: first.tweet } if first.present? %>
    </div>
    <div class="col-sm-4">
      <%= render partial: 'tweet', locals: { tweet: second.tweet } if second.present? %>
    </div>
    <div class="col-sm-4">
      <%= render partial: 'tweet', locals: { tweet: third.tweet } if third.present? %>
    </div>
  <% end %>
</div>

<%= paginate @forecasts %>
