<h1 class="mb-3 mt-3">
  <%= link_to @race.name, Settings.keibalab[:url] + @race.url, target: '_blank' %>
  <small><%= @race.hold %> <%= @race.number %></small>
</h1>

<%= paginate @forecasts, window: 1 %>

<div>
  <% @forecasts.each do |forecast| %>
    <%= render partial: 'tweet', locals: {tweet: forecast.tweet} %>
  <% end %>
</div>

<%= paginate @forecasts, window: 1 %>
