<h2>ユーザ一覧</h2>

<br>

<p><%= link_to 'ホームに戻る', root_path %></p>

<div class="form-inline">
  <%= form_tag(users_path, method: 'get') do %>
    <%= text_field_tag :search, params[:search], class: 'form-control sm-3' %>
    <%= submit_tag '検索', name: nil, class: 'btn btn-primary sm-2' %>
  <% end %>
</div>

<br>

<%= paginate @users, window: 1 %>

<div class="row">
  <table class="table table-bordered table-striped table-sm col-sm-12">
    <thead>
      <tr class="text-center">
        <th class="w-50">ユーザ名</th>
        <th>ポイント</th>
        <th>単勝回収率</th>
        <th>複勝回収率</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.image_url %>
              <span><%= user.name %></span>
            <% end %>
          </td>
          <td class="align-middle text-right pr-2"><%= user.point %></td>
          <td class="align-middle text-right pr-2"><%= (user.tanshou || 0) / user.forecasts.size %>%</td>
          <td class="align-middle text-right pr-2"><%= (user.fukushou || 0) / user.forecasts.size %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @users, window: 1 %>