<h1 class="mb-3 mt-3">予想家一覧</h1>

<div class="form-inline mb-3">
  <%= form_tag(users_path, method: 'get') do %>
    <%= text_field_tag :search, params[:search], class: 'form-control sm-3' %>
    <%= submit_tag '検索', name: nil, class: 'btn btn-primary sm-2' %>
  <% end %>
</div>

<%= paginate @user_stats, window: 1 %>

<div class="row small-text">
  <table class="table table-bordered table-striped table-sm col-sm-12 bg-white">
    <thead>
    <tr class="text-center">
      <th>ユーザ名</th>
      <th><%= link_to '予想数', users_path(order: :forecasts_count) %></th>
      <th><%= link_to '単回収率', users_path(order: :return_rate_win) %></th>
      <th><%= link_to '複回収率', users_path(order: :return_rate_place) %></th>
      <th><%= link_to '単的中率', users_path(order: :hit_rate_win) %></th>
      <th><%= link_to '複的中率', users_path(order: :hit_rate_place) %></th>
    </tr>
    </thead>

    <tbody>
    <% @user_stats.each do |user_stat| %>
      <tr>
        <td>
          <%= link_to user_path(user_stat.user_id) do %>
            <span><%= user_stat.user_name %></span>
          <% end %>
        </td>
        <td class="align-middle text-right pr-2"><%= user_stat.forecasts_count %></td>
        <td class="align-middle text-right pr-2"><%= user_stat.return_rate_win.to_i %>%</td>
        <td class="align-middle text-right pr-2"><%= user_stat.return_rate_place.to_i %>%</td>
        <td class="align-middle text-right pr-2"><%= user_stat.hit_rate_win.to_i %>%</td>
        <td class="align-middle text-right pr-2"><%= user_stat.hit_rate_place.to_i %>%</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @user_stats, window: 1 %>