<h1 class="mb-3 mt-3">予想家一覧</h1>

<div class="form-inline mb-3">
  <%= form_tag(users_path, method: 'get') do %>
    <%= text_field_tag :search, params[:search], class: 'form-control sm-3' %>
    <%= submit_tag '検索', name: nil, class: 'btn btn-primary sm-2' %>
  <% end %>
</div>

<%= paginate @users %>

<div class="row">
  <table class="table table-bordered table-striped table-sm col-sm-6 bg-white">
    <thead>
    <tr class="text-center">
      <th class="w-50">ユーザ名</th>
      <th>予想レース数</th>
      <th>単勝回収率</th>
      <th>複勝回収率</th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user.id) do %>
            <span><%= user.name %></span>
          <% end %>
        </td>
        <% size = user.forecasts.size %>
        <td class="align-middle text-right pr-2"><%= size %></td>
        <td class="align-middle text-right pr-2"><%= (user.tanshou || 0) / (size.zero? ? 1 : size) %>%</td>
        <td class="align-middle text-right pr-2"><%= (user.fukushou || 0) / (size.zero? ? 1 : size) %>%</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @users %>