<h1 class="mb-3 mt-3">
  <%= link_to @user_stat.user_url, target: '_blank' do %>
    <%= @user_stat.user_name %>
  <% end %>
</h1>

<table class="table table-bordered table-striped table-sm bg-white">
  <thead>
  <tr class="text-center">
    <th>印</th>
    <th>単勝回収率</th>
    <th>複勝回収率</th>
    <th>単勝的中率</th>
    <th>複勝的中率</th>
  </tr>
  </thead>

  <tbody>
  <tr class="text-center">
    <td><b>◎</b></td>
    <td><b><%= @user_stat.return_rate_win.to_i %>%</b></td>
    <td><b><%= @user_stat.return_rate_place.to_i %>%</b></td>
    <td><b><%= @user_stat.hit_rate_win.to_i %>%</b></td>
    <td><b><%= @user_stat.hit_rate_place.to_i %>%</b></td>
  </tr>
  <tr class="text-center">
    <td><b>○</b></td>
    <td><b><%= @taikou_user_stat.return_rate_win.to_i %>%</b></td>
    <td><b><%= @taikou_user_stat.return_rate_place.to_i %>%</b></td>
    <td><b><%= @taikou_user_stat.hit_rate_win.to_i %>%</b></td>
    <td><b><%= @taikou_user_stat.hit_rate_place.to_i %>%</b></td>
  </tr>
  <tr class="text-center">
    <td><b>▲</b></td>
    <td><b><%= @tanana_user_stat.return_rate_win.to_i %>%</b></td>
    <td><b><%= @tanana_user_stat.return_rate_place.to_i %>%</b></td>
    <td><b><%= @tanana_user_stat.hit_rate_win.to_i %>%</b></td>
    <td><b><%= @tanana_user_stat.hit_rate_place.to_i %>%</b></td>
  </tr>
  <tr class="text-center">
    <td><b>△</b></td>
    <td><b><%= @renka_user_stat.return_rate_win.to_i %>%</b></td>
    <td><b><%= @renka_user_stat.return_rate_place.to_i %>%</b></td>
    <td><b><%= @renka_user_stat.hit_rate_win.to_i %>%</b></td>
    <td><b><%= @renka_user_stat.hit_rate_place.to_i %>%</b></td>
  </tr>
  </tbody>
</table>

<table class="table table-bordered table-striped table-sm bg-white">
  <thead>
  <tr class="text-center">
    <th>レース名</th>
    <th>◎</th>
    <th>○</th>
    <th>▲</th>
    <th>△</th>
  </tr>
  </thead>

  <tbody>
  <% @forecasts.each do |forecast| %>
    <% race = forecast.race %>
    <% result = race.result %>
    <% race_horses = race.horses.order(:win).pluck(:name) %>

    <% if result.present? %>
      <% horses = [result.first_horse, result.second_horse, result.third_horse] %>
      <% honmei_result = horses.index(forecast.honmei) || -1 %>
      <% taikou_result = horses.index(forecast.taikou) || -1 %>
      <% tanana_result = horses.index(forecast.tanana) || -1 %>
      <% renka_result = horses.index(forecast.renka) || -1 %>
      <tr>
        <td class="align-middle bg-white">
          <b><%= link_to race.name, Settings.keibalab[:url] + race.url, target: '_blank' %></b>
          <%= link_to forecast.tweet.url, target: '_blank' do %>
            <%= image_tag asset_path('twitter_icon.png') %>
          <% end %>
        </td>

        <td class="align-middle" style="<%= result_color(honmei_result) %>">
          <% honmei_popularity_text =  forecast.honmei ? "(#{race_horses.index(forecast.honmei) + 1}人気)" : "" %>
          <%= forecast.honmei %><%= honmei_popularity_text %> <b><%= "#{horses.index(forecast.honmei) + 1}着" if honmei_result >= 0 %></b>
        </td>

        <td class="align-middle" style="<%= result_color(taikou_result) %>">
          <% taikou_popularity_text =  forecast.taikou ? "(#{race_horses.index(forecast.taikou) + 1}人気)" : "" %>
          <%= forecast.taikou %><%= taikou_popularity_text %> <b><%= "#{horses.index(forecast.taikou) + 1}着" if taikou_result >= 0 %></b>
        </td>

        <td class="align-middle" style="<%= result_color(tanana_result) %>">
          <% tanana_popularity_text =  forecast.tanana ? "(#{race_horses.index(forecast.tanana) + 1}人気)" : "" %>
          <%= forecast.tanana %><%= tanana_popularity_text %> <b><%= "#{horses.index(forecast.tanana) + 1}着" if tanana_result >= 0 %></b>
        </td>

        <td class="align-middle" style="<%= result_color(renka_result) %>">
          <% renka_popularity_text =  forecast.renka ? "(#{race_horses.index(forecast.renka) + 1}人気)" : "" %>
          <%= forecast.renka %><%= renka_popularity_text %> <b><%= "#{horses.index(forecast.renka) + 1}着" if renka_result >= 0 %></b>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>