<h2>
  <%= link_to @user.url, target: '_blank' do %>
    <%= image_tag @user.image_url %> <%= @user.name %>
  <% end %>
</h2>

<p class="small-text"><%= link_to 'ホームに戻る', root_path %></p>

<br>

<table class="table table-bordered table-striped table-sm text-table">
  <thead>
  <tr align="center">
    <th>レース名</th>
    <th>◎</th>
    <th>○</th>
    <th>▲</th>
    <th>△</th>
  </tr>
  </thead>

  <tbody>
  <% @forecasts.each do |forecast| %>
    <% race = forecast.race %>
    <% result = race.result %>

    <% if result.present? %>
      <% horses = [result.first_horse, result.second_horse, result.third_horse] %>
      <% honmei_result = horses.index(forecast.honmei) || -1 %>
      <% taikou_result = horses.index(forecast.taikou) || -1 %>
      <% tanana_result = horses.index(forecast.tanana) || -1 %>
      <% renka_result = horses.index(forecast.renka) || -1 %>
      <tr>
        <td class="align-middle" style="background-color: white">
          <b><%= link_to race.name, 'https://race.netkeiba.com' + race.url, target: '_blank' %></b>
          <%= link_to forecast.tweet.url, target: '_blank' do %>
            <%= image_tag asset_path('twitter_icon.png') %>
          <% end %>
        </td>

        <td class="align-middle" style="background-color: <%= result_color_code(honmei_result) %>">
          <%= forecast.honmei %> <b><%= "#{horses.index(forecast.honmei) + 1}着" if honmei_result >= 0 %></b>
        </td>

        <td class="align-middle" style="background-color: <%= result_color_code(taikou_result) %>">
          <%= forecast.taikou %> <b><%= "#{horses.index(forecast.taikou) + 1}着" if taikou_result >= 0 %></b>
        </td>

        <td class="align-middle" style="background-color: <%= result_color_code(tanana_result) %>">
          <%= forecast.tanana %> <b><%= "#{horses.index(forecast.tanana) + 1}着" if tanana_result >= 0 %></b>
        </td>

        <td class="align-middle" style="background-color: <%= result_color_code(renka_result) %>">
          <%= forecast.renka %> <b><%= "#{horses.index(forecast.renka) + 1}着" if renka_result >= 0 %></b>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>